.navbar {
    display: flex;
    justify-content: space-around;
    padding: 1.5em 0.5em 1.5em 0.5em;
    border-top: 1px solid rgba(0, 0, 0, 0.164);
}

.li {
    list-style: none;
}

.navItemLink {
    color: blue;
    transition-duration: 0.5s;
    padding-right: 0.3em;
    padding: 0.3em;
}

.navItemLink:hover {
    background-color: black;
    color: white;
    border-radius: 5px;
}

@media(max-width: 466px) {
    .navItemLink {
        font-size: 12px;
    }
}
