* {
  margin: 0px;
  border: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  width: 50%;
  margin: 0em 4em;
}

a {
  text-decoration: none;
}

@media(max-width: 745px) {
  #root {
    width: 80%;
  }
}

@media(max-width: 466px) {
  #root {
    width: 100%;
  }

}